/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

input:focus-visible{
    outline: none;
}

label{
    display: none;
}

/* Scroollbar */
.main-sidebar::-webkit-scrollbar-track,
.main-chat::-webkit-scrollbar-track
{
	border-radius: 10px;
}

.main-sidebar::-webkit-scrollbar,
.main-chat::-webkit-scrollbar
{
	width: 8px;
	background-color: var(--ms-white);
}

.main-sidebar::-webkit-scrollbar-thumb,
.main-chat::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--ms_bg-light-grey);
}

:root{
    /* Palette*/
    --ms_acqua: #009688;
    --ms-light-grey: #eaeaea;
    --ms-grey: #b1b1b1;
    --ms-light-blue: #8edafc;
    --ms-light-green: #d5f9ba;
    --ms-box-shadow-black: 5px 5px 27px 8px rgba(0,0,0,0.63);

    /* Measurable */
    --width-heigth-user-photo: 35px;

    /* Sidebar */
    --sidebar-wrapper-width: 35%;
    --sidebar-header-height: 150px;

    /* Chat */
    --chat-wrapper-width: calc( 100% - var(--sidebar-wrapper-width));
    --header-chat-height: 50px;
    --footer-chat-height: 50px;
}

/* DropDown Menu */
#dropdown{
    display: none;
    width: 120px;
    color: var(--ms-black);
    background-color: var(--ms-white);
    box-shadow: 1px 2px 16px 3px rgba(0,0,0,0.71);
    font-size: .8rem;
    padding: .5em 1em;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;
}

#dropdown li{
    color: var(--ms-black);
    position: relative;
    cursor: pointer;
    margin: 1em 0;
}

#dropdown li::before{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--ms-black);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .5s linear;
}

#dropdown li:hover::before{
    width: 100%;
}

/* LAYOUT */
#app{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--ms_bg-app);
}

.container{
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    height: 90vh;
    display: flex;
}

/* ------------------------------------------ */
/* SIDEBAR */
.sidebar{
    width: var(--sidebar-wrapper-width);
    height: 100%;
    position: relative;
}

/* Header sidebar*/
.header-sidebar{
    width: 100%;
    height: var(--sidebar-header-height);
}

/* user-info */
.header-sidebar .user-info{
    width: 100%;
    height: calc(100% / 3);
    padding: .5em;
    display: flex;
    align-items: center;
    background-color: var(--ms_bg-light-grey);
}

.user-info .user{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-info .user img{
    width: var(--width-heigth-user-photo);
    height: var(--width-heigth-user-photo);
    border-radius: 50%;
    object-fit: cover;
    margin-right: .5em;
}

.user-info .user h2{
    color: var(--ms-black);
    font-size: 1rem;
}

.user-info .icons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-info .icons li{
    font-size: 1rem;
    margin: 0 .5em;
    color: var(--ms-grey);
    cursor: pointer;
}

/* Icon switch theme */
#icon-switch-theme{
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--ms_bg-white);
    border-radius: 28px;
    font-size: .8rem;
    position: relative;
}

#icon-switch-theme .theme-light,
#icon-switch-theme .theme-dark{
    width: calc(100% / 2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#icon-switch-theme::before{
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--ms_bg-light-grey);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transition: left .2s ease-out;
}

#icon-switch-theme.dark::before{
    left: calc(100% - 25px);
}

/* banner notification */
.header-sidebar .banner-notification{
    width: 100%;
    height: calc(100% / 3);
    padding: .5em .8em;
    display: flex;
    align-items: center;
    background-color: var(--ms-light-blue);
}

.banner-notification .icon{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    background-color: var(--ms_bg-light-grey);
    color: var(--ms-light-blue);
}

.banner-notification .description-banner{
    width: calc(100% - 35px);
    margin-left: .5em;
}

.description-banner h3{
    color: #000;
    font-size: .8rem;
    font-weight: 600;
}

.description-banner a{
    cursor: pointer;
    text-decoration: underline;
    font-size: .7rem;
    color: var(--ms-light-grey);
}

/* Search bar */
.header-sidebar .search-bar{
    width: 100%;
    height: calc(100% / 3);
    padding: .5em;
    background-color: var(--ms_bg-light-grey);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ms-grey);
    font-size: 1rem;
}

.search-bar input{
    width: 80%;
    height: 100%;
    padding-left: 10px;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--ms-white);
    color: var(--ms-black);
}

.search-bar .search-icon{
    width: 20%;
    height: 100%;
    background-color: var(--ms-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid var(--ms_bg-light-grey);
}

/* Main sidebar*/
.main-sidebar{
    width: 100%;
    height: calc(100% - var(--sidebar-header-height));
    overflow-y: scroll;
    background-color: var(--ms_bg-white);
    scrollbar-color: var(--ms_bg-light-grey) var(--ms-white);
}

/* Chat List */
.chat-list{
    width: 100%;  
    height: 100%;  
}

/* Chat Item */
.chat-list .chat-item{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: .5em .7em;
    border-bottom: 1px solid var(--ms_bg-light-grey);
    cursor: pointer;
}

.chat-list .chat-item:last-child{
    border-bottom: none;
}

.chat-item.active{
    background-color:var(--ms_bg-light-grey);
}

.chat-list .chat-item .user-photo img{
    width: var(--width-heigth-user-photo);
    height: var(--width-heigth-user-photo);
    border-radius: 50%;
}

.chat-item .info-chat{
    width: calc(100% - var(--width-heigth-user-photo));
    padding-left: .5em;
    position: relative;
}

.info-chat h3{
    color: var(--ms-black);
    font-size: 1rem;
    margin-bottom: .2em;
}

.info-chat p{
    font-size: .8rem;
    color: var(--ms-grey);
}

#last-message{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#last-hour{
    position: absolute;
    top: 0;
    right: 0;
}

/* no contact message */
.chat-list .not-contact-message{
    color: var(--ms-black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
}


/* Footer Sidebar */
/* Button add Chat */
#btn-add-chat{
    width: 35px;
    height: 35px;
    background-color: var(--ms_acqua);
    color: var(--ms-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-style: none;
    cursor: pointer;
}

/* Popup add */
#popup-add{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--ms_bg-light-grey);
    box-shadow: var(--ms-box-shadow-black);
    border-radius: 10px;
    z-index: 999;
    padding: .5em .8em;
}

#popup-add input{
    width: 100%;
    height: 25px;
    background-color: var(--ms_bg-white);
    color: var(--ms-black);
    margin-bottom: 20px;
    border-style: none;
    border-radius: 5px;
    padding: .5em;
}

#popup-add .btn-add{
    padding: .5em 1em;
    color: var(--ms-white);
    background-color: var(--ms_acqua);
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

#popup-add .btn-close {
    background-color: var(--ms_bg-light-grey);
    color: var(--ms-black);
    align-self: flex-end;
    margin-bottom: 15px;
    border-style: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#popup-add .popup-error{
    width: 100%;
    height: 20px;
    font-size: .8rem;
    margin-bottom: 1em;
    color: #f00;
}

/* ------------------------------------------ */
/* CHAT */
.chat-wrapper{
    width: var(--chat-wrapper-width);
    height: 100%;
    border-left: 1px solid var(--ms-grey);
}

/* Header Chat */
.chat-wrapper .header-chat{
    width: 100%;
    height: var(--header-chat-height);
    display: flex;
    align-items: center;
    padding: .5em 1em;
    background-color: var(--ms_bg-light-grey);
}

/* user info */
.header-chat .user-info{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-chat .user-info img{
    width: var(--width-heigth-user-photo);
    height: var(--width-heigth-user-photo);
    border-radius: 50%;
}

.user-info .user-description{
    margin-left: .5em;
}

.user-info .user-description h3{
    font-size: 1rem;
    color: var(--ms-black);
}

.user-info .user-description p{
    font-size: .7rem;
    color: var(--ms-grey);
}

/* icons */
.chat-wrapper .header-chat .icons{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.header-chat .icons li{
    font-size: 1rem;
    color: var(--ms-grey);
    margin: .5em;
}

/* Settings Icon */
.settings-icon{
    position: relative;
    cursor: pointer;
}

.settings-icon #dropdown{
    width: 180px;
    right: -20px;
    cursor: pointer;
}

.settings-icon:hover #dropdown{
    display: block;
}

/* Main Chat */
.chat-wrapper .main-chat{
    width: 100%;
    height: calc(100% - var(--header-chat-height) - var(--footer-chat-height));
    overflow-y: scroll;
    background-image: var(--background-chat);
    padding: 1em 1em;
}

/* Message Item */
.message-list .message-item{
    width: 50%;
    border-radius: 10px;
    padding: .8em .8em;
    position: relative;
    margin-bottom: 1em;
}

#message-time{
    font-size: .5rem;
    color: var(--ms-grey);
    position: absolute;
    bottom: 2px;
    right: 5px;
}


/* dropdown menu */
#menu-message{
    display: none;
    font-size: .7rem;
    color: var(--ms-grey);
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#menu-message:hover #dropdown{
    display: block;
}

.message-item.received{
    background-color: #fff;
    margin-right: auto;
}

.message-item.sent{
    background-color: var(--ms-light-green);
    margin-left: auto;
}

.message-item:hover #menu-message{
    display: block;
}

/* Footer Chat */
.chat-wrapper .footer-chat{
    width: 100%;
    height: var(--footer-chat-height);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    background-color: var(--ms_bg-light-grey);
}

/* User Input */
.footer-chat .user-message-input{
    width: 80%;
    height: 100%;
}

.user-message-input label{
    display: none;
}

.user-message-input input{
    width: 100%;
    height: 100%;
    border-style: none;
    border-radius: 5px;
    background-color: var(--ms-white);
    color: var(--ms-black);
    padding: .2em;
}

/* Icons  */
.footer-chat .icon{
    width: 10%;
    font-size: 1.2rem;
    color: var(--ms-grey);
    text-align: center;
    cursor: pointer;
}